<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1">
<title>Sprints</title>
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<script
	defer
	src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	<section class="hero is-small has-text-centered">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">Adding task to 
					<span th:text="${task.project.name}"></span>
				</h1>
				<p class="subtitle">
					<a th:href="@{/projects/{projectId}(projectId=${project.id})}">Back to <span th:text="${project.name}"></span></a>
				</p>
			</div>
		</div>
	</section>
	<div class="column is-10 is-offset-1">
		<section class="box">
			<form
				class="form-horizontal"
				method="post"
				th:object="${task}">
				<input
					type="hidden"
					th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" /> <input
					type="hidden"
					name="id"
					th:value="*{id}" />

				<fieldset>

					<!-- Form Name -->
					<legend></legend>

					<!-- Text input-->
					<div class="field">
						<label
							class="label"
							for="subject">Task</label>
						<div class="control">
							<input
								id="description"
								th:field="*{taskDescription}"
								name="subject"
								type="text"
								class="input"
								required>
						</div>
					</div>


					<!-- Text input-->
					<div class="field">
						<label
							class="label"
							for="assigned-to">Assigned To</label>
						<div class="control">
							<div class="select">

								<select th:field="*{assignedUser}">
									<option
										th:each="user : ${task.project.projectMembers}"
										th:value="${user.id}"
										th:text="${user.getFullName()}">Assigned</option>
								</select>
							</div>
						</div>
					</div>

					<!-- Select Basic -->
					<div class="field">
						<label
							class="label"
							for="priority">Priority</label>
						<div class="control">
							<div class="select">
								<select
									id="priority"
									name="priority"
									th:field="*{priority}"
									class="">
									<option
										th:value="High"
										th:text="High">High</option>
									<option
										th:value="Medium"
										th:text="Medium">Medium</option>
									<option
										th:value="Low"
										th:text="Low">Low</option>
									<option
										th:value="Blocker"
										th:text="Blocker">Blocker</option>
								</select>
							</div>
						</div>
					</div>

					<!-- Select Basic -->
					<div class="field">
						<label
							class="label"
							for="current-step">Status</label>
						<div class="control">
							<div class="select">
								<select
									id="current-step"
									name="current-step"
									th:field="*{currentStep}"
									class="">
									<option
										th:value="Todo"
										th:text="Todo">To Do</option>
									<option
										th:value="Doing"
										th:text="Doing">Doing</option>
									<option
										th:value="Done"
										th:text="Done">Done</option>
								</select>
							</div>
						</div>
					</div>


					<!-- Multiple Checkboxes -->
					<div class="field">
						<label
							class="label"
							for=""></label>
						<div class="control">
							<label
								class="checkbox"
								for="completed-0"> <input
								type="checkbox"
								th:field="*{completed}"
								name="completed"
								id="completed-0"
								value="Completed"> Completed
							</label>
						</div>
					</div>
					<!-- Button -->
					<div class="field">
						<label
							class="label"
							for="submit"></label>
						<div class="control">
							<button
								id="submit"
								name="submit"
								class="button is-default">Submit</button>
						</div>
					</div>
				</fieldset>
			</form>
		</section>
	</div>
</body>
</html>