<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta
	name="viewport"
	content="width=device-width, initial-scale=1" />
<title>Sprints</title>
<link
	rel="stylesheet"
	type="text/css"
	href="css/style.css" />
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script
	defer
	src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
<script
	defer
	src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>
	<div class="container">
		<section class="hero">
			<div class="hero-body">
				<div class="container has-text-centered">
					<h1 class="title">
						Hi, <span
							th:text="${#authentication.getPrincipal().getUser().getFirstName()}"
							class="title"></span>!
					</h1>
				</div>
			</div>
		</section>
		<section>
			<div class="row">
				<div class="column is-6">
					<h2 class="subtitle has-text-centered">Your tasks</h2>
					<table class="table is-fullwidth is-bordered is-striped">
						<thead>
							<tr>
								<th>Task</th>
								<th>Sprint</th>
								<th>Status</th>
								<th>Due</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="task: ${tasks}">
								<td th:text="${task.taskDescription}">
								<td><a
									th:text="${task.sprint.name}"
									th:href="@{/sprints/{sprintID}(sprintID=${task.sprint.id})}" />
								<td th:text="${task.currentStep}">
								<td th:text="${task.sprint.endDate}">
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</div>
</body>
</html>
