@charset "UTF-8";

progress[value]::-webkit-progress-value {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.delete_button a
{
	color: red;
}

.align-right{
	margin: 0 auto;
  	text-align: right;
}