<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1">
<title>Backlog</title>
<script src="/js/progressbar.js"></script>
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<script
	defer
	src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>

	<section class="hero is-small has-text-centered">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">Project Backlog</h1>
			</div>
		</div>
	</section>
	<section class="section box">
		<div class="row has-text-centered">
			<p class="subtitle">
				<a href="/viewBacklog">Add Task to Backlog</a>
			</p>
			<span class="is-size-3 has-text-centered">Tasks </span>
		</div>

		<table class="has-border table is-striped is-fullwidth ">
			<thead>
				<tr>
					<th width="50%">Task</th>
					<th>Assigned To</th>
					<th>Priority</th>
					<th>Current Step</th>
					<th width="8%">Points</th>
					<th width="4%">Complete</th>
					<th><p class="subtitle"></p></th>
					<th></th>
				</tr>
			</thead>
			<tr th:each="task : ${project.backlog}">
				<td><a
					th:text="${task.taskDescription}"
					th:href="@{/projects/{projectID}/tasks/{taskID}(projectID=${project.id},taskID=${task.id})}"></a></td>
				<td th:text="${task.assignedUser.getFullName()}"></td>
				<td th:text="${task.priority}"></td>
				<td th:text="${task.currentStep}"></td>
				<td th:text="${task.storyPoints}"></td>

			</tr>
		</table>
	</section>
</body>
</html>