<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1">
<title>Projects</title>
<link
	rel="stylesheet"
	type="text/css"
	href="css/style.css">
<script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
<script src="/js/progressbar.js"></script>
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<script
	defer
	src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>

	<section class="hero is-small has-text-centered">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">Projects</h1>
				<p class="subtitle">
					<a href="/addProject">Add Project</a>
				</p>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="column is-10 is-offset-1">
			<table class="table is-bordered is-fullwidth is-striped is-hoverable">
				<thead>
					<tr>
						<th>Project Name</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="project: ${projects}">
						<td><a
							th:href="@{/projects/{id}(id=${project.id})}"
							th:text="${project.name}"></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>

</body>
</html>