<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1">
<title>Project Settings</title>
<link
	rel="stylesheet"
	type="text/css"
	href="/css/style.css">
<script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<script
	defer
	src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>

	<section class="hero is-small has-text-centered">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">Project Settings</h1>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="column is-10 is-offset-1">		
			<form class="form-horizontal" th:object="${newProject}" th:action="@{/projects/update/{id}(id=${newProject.id})}" method="POST">
				<fieldset>
					<div class="field">
					  <label class="label" for="name">Project Name</label>
					  <div class="control">
					  	<input id="name" name="name" type="text" class="input" th:field="*{name}">
					  </div>
					</div>
					<div class="field">
					  <label class="label" for="projectMembers">Project Members</label>
					  <div class="control">
					    <select id="projectMembers" name="projectMembers" class="textarea" multiple="multiple" th:field="*{projectMembers}">
					      	<option
								th:each="user : ${allUsers}"
								th:value="${user.id}"
								th:text="${user.getFullName()}">Project Members
							</option>
					    </select>
					  </div>
					</div>
					<div class="field">
					  <label class="label" for="submit"></label>
					  <div class="control">
					    <button id="submit" name="submit" class="button is-primary" th:text="${newProject.id != null} ? 'Save' : 'Create'">Save</button>
					  </div>
					</div>
				</fieldset>
			</form>
			<div class="delete_button align-right">
				<a th:href="@{/projects/delete/{id}(id=${newProject.id})}" th:text="${newProject.id != null} ? 'Delete Project' : null"></a>
			</div>
		</div>
	</section>
</body>
</html>