<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1">
<title>Project Settings</title>
<link
	rel="stylesheet"
	type="text/css"
	href="/css/style.css">
<script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<script
	defer
	src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>

	<section class="hero is-small has-text-centered">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">Project Settings</h1>
			</div>
		</div>
	</section>
	<div class="column is-6 is-offset-3">		
		<section class="box">
			<form class="form-horizontal" th:object="${newProject}" th:action="@{/projects/update/{id}(id=${newProject.id})}" method="POST">
				<fieldset>
					<input type="hidden" id="id" name="id" th:field="*{id}">
					<input type="hidden" id="createdDate" name="createdDate" th:field="*{createdDate}">
					<input type="hidden" id="backlog" name="backlog" th:field="*{backlog}">
					<div class="field">
					  <label class="label" for="name">Project Name</label>
					  <div class="control">
					  	<input id="name" name="name" type="text" class="input" th:field="*{name}" required>
					  </div>
					</div>
					<div class="field">
					  <label class="label" for="projectMembers">Project Members</label>
					  <div class="control">
					    <select id="projectMembers" name="projectMembers" class="textarea" multiple="multiple" th:field="*{projectMembers}" required>
					      	<option
								th:each="user : ${allUsers}"
								th:value="${user.id}"
								th:text="${user.getFullName()}">
							</option>
					    </select>
					  </div>
					</div>
					<div class="field">
						<label class="label" for="currentWorkflow">Workflow</label>
						<div class="control">
							<div class="select">
								<select id="workflow" name="workflow" th:field="*{workflow}">
									<option
										th:each="workflow : ${allWorkflows}"
										th:value="${workflow.id}"
										th:text="${workflow.getName()}">
									</option>
								</select>
							</div>
						</div>
					</div>
					<div class="field">
						<label class="label" for="priorityScheme">Priority Scheme</label>
						<div class="control">
							<div class="select">
								<select id="priorityScheme" name="priorityScheme" th:field="*{priorityScheme}">
									<option
										th:each="priorityScheme : ${allPrioritySchemes}"
										th:value="${priorityScheme.id}"
										th:text="${priorityScheme.getName()}">
									</option>
								</select>
							</div>
						</div>
					</div>
					<nav class="level">
						<div class="level-left">
							<div class="level-item">
								<div class="field is-grouped">
									<div class="control">
										<button
											id="submit"
											name="submit"
											class="button is-rounded is-default"
											th:text="${newProject.id != null} ? 'Save' : 'Create'">
										</button>
									</div>
									<div class="control">
										<a
											class="button is-rounded is-warning"											
											th:href="${newProject.id != null} ? @{/projects/{projectID}(projectID=${newProject.id})} : @{/projects/}">
											Cancel
										</a>
									</div>
								</div>
							</div>
						</div>
					</nav>
				</fieldset>
			</form>
		</section>
	</div>
</body>
</html>