<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1">
<title>Sprints</title>
<script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
<script src="js/progressbar.js"></script>
<link
	rel="stylesheet"
	type="text/css"
	href="/css/style.css">
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<script
	defer
	src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>

	<section class="hero is-small has-text-centered">
		<div class="hero-body">
			<div class="container">
				<h1
					th:text="${sprint.name}"
					class="title"></h1>
				<p class="subtitle">
					<a th:href="@{/projects/{projectID}(projectID=${projectID})}">Return to Project</a>
				</p>
			</div>
		</div>
	</section>
	<section>
		<div class="column is-10 is-offset-1">
			<p class="subtitle">
				<a th:href="@{/projects/{projectID}/sprints/{sprintID}(projectID=${projectID}, sprintID=${sprint.id})}">View Sprint Details</a>
			</p>
			<div class="box">
				<section class="section column">
					<div class="row has-text-centered">
						<span class="is-size-3 has-text-centered">Sprint Board </span><small><a
							th:href="@{{sprintID}/tasks/new(sprintID=${sprint.id})}">Add Task</a></small>
					</div>

					<table class="has-border table is-striped is-fullwidth ">
						<thead>
							<tr>
								<th th:each="step: ${sprint.project.workflow.steps}" th:text="${step}"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="step,iter : ${sprint.project.workflow.steps}">
								<td th:each="task : ${sortedTasks.get(iter.index)}" th:text="${task.getName()}"/>
							</tr>
						</tbody>
					</table>
				</section>
			</div>
		</div>
	</section>
	<section>
		<div class="column is-10 is-offset-1">
			<div th:each="step, iter: ${sprint.project.workflow.steps}" class="sprint_column">
				<h2 th:text="${step}"/>
				<div th:each="task: ${sortedTasks.get(iter.index)}">
					<div class="box">
						<p th:text="${task.taskDescription}"/>
						<p th:text="${task.assignedUser.getFullName()}"/>
						<p th:text="${task.priority}"/>
						<p th:text="${task.completed}"/>
						<p th:text="${task.storyPoints}"/>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>