<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1">
<title>Project Settings</title>
<link
	rel="stylesheet"
	type="text/css"
	href="/css/style.css">
<script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
<script src="js/progressbar.js"></script>
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<script
	defer
	src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
	<div th:insert="fragments/header :: header"></div>

	<section class="hero is-small has-text-centered">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">Sprint Settings</h1>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="column is-10 is-offset-1">					
			<form class="form-horizontal" th:object="${newSprint}" 
				th:action="@{/projects/{projectID}/sprints/update/{sprintID}(sprintID=${newSprint.id}, projectID=${projectID})}" method="POST">
				<fieldset>
					<input type="hidden" name="project" th:value="${newSprint.project.id}">
					<input type="hidden" id="id" name="id" th:value="*{id}" th:field="*{id}">
					<div class="field">
					  <label class="label" for="name">Sprint Name</label>
					  <div class="control">
					    <input id="name" name="name" type="text" class="input" th:field="*{name}" required>
					    
					  </div>
					</div>
					<div class="field">
					  <label class="label" for="description">Description</label>
					  <div class="control">
					    <input id="description" name="description" type="text" class="input" th:field="*{description}">
					  </div>
					</div>
					<div class="field">
						<label class="label" for="startDate">Start Date</label>
						<div class="control">
							<input type="date" id="startDate" name="startDate" th:field="*{startDate}" required>
						</div>
					</div>
					<div class="field">
						<label class="label" for="endDate">End Date</label>
						<div class="control">
							<input type="date" id="endDate" name="endDate" th:field="*{endDate}" required>
						</div>
					</div>
					<div class="field">
					  <div class="control">
					    <button id="submit" name="submit" class="button is-primary">Save</button>
					  </div>
					</div>
				</fieldset>
			</form>
			<div class="delete_button align-right">
				<a th:href="@{/projects/{projectID}/sprints/delete/{sprintID}(sprintID=${sprintID}, projectID=${projectID})}" 
				th:text="${newSprint.id != null} ? 'Delete Sprint' : null"></a>
			</div>
		</div>
	</section>

</body>
</html>